@model IEnumerable<EventPlanner.Models.Event>

@{
    ViewData["Title"] = "Събития";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Create", "Events")" class="btn btn-primary">Създаване на ново събитие</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Име на събитието</th>
            <th>Дата и час</th>
            <th>Място</th>
            <th>Описание</th>
            <th>Средна Оценка</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EventName</td>
                <td>@item.EventDate.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@item.EventPlace</td>
                <td>
                    @{
                        var shortDescription = item.Description.Length > 55 ? item.Description.Substring(0, 55) + "..." : item.Description;
                    }
                    <div id="description-@item.EventID" class="description-short">
                        @shortDescription
                    </div>
                    @if (item.Description.Length > 55)
                    {
                        <button class="btn btn-link" onclick="toggleDescription(event, @item.EventID)">Повече</button>
                    }
                    <div id="full-description-@item.EventID" class="description-full" style="display:none;">
                        @item.Description
                    </div>
                </td>
                <td>
                    @if (item.Ratings != null && item.Ratings.Any())
                    {
                        var avgRating = item.Ratings.Any() ? Math.Round(item.Ratings.Average(r => r.RatingValue ?? 0), 2) : 0;
                        <span>@avgRating</span>
                    }
                    else
                    {
                        <span>Без оценка</span>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Events", new { id = item.EventID })" class="btn btn-warning" style = "margin-right: 10px;">Редактирай</a>
                    <a href="@Url.Action("Delete", "Events", new { id = item.EventID })" class="btn btn-danger" style="margin-right: 10px;">Изтрий</a>
                    <a href="@Url.Action("Rate", "Events", new { id = item.EventID })" class="btn btn-success">Оценете</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function toggleDescription(event, eventId) {
        var button = event.target;
        var fullDescription = document.getElementById("full-description-" + eventId);

        // Превключваме видимостта на пълното описание
        if (fullDescription.style.display === "none") {
            fullDescription.style.display = "block";
            button.innerText = "По-малко";
        } else {
            fullDescription.style.display = "none";
            button.innerText = "Повече";
        }
    }
</script>
