@model IEnumerable<EventPlanner.Models.Event>

@{
    ViewData["Title"] = "Събития";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Create", "Events")" class="btn btn-primary">Създаване на ново събитие</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Име на събитието</th>
            <th>Дата и час</th>
            <th>Място</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EventName</td>
                <td>@item.EventDate.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@item.EventPlace</td>
                <td>@item.Description</td>
                <td>@item.EventID</td>
                <td>
                    <a href="@Url.Action("Edit", "Events", new { id = item.EventID })" class="btn btn-warning">Редактирай</a> |
                    <a href="@Url.Action("Delete", "Events", new { id = item.EventID })" class="btn btn-danger">Изтрий</a>

                    @* <a asp-action="Edit" asp-route-id="@item.EventID" class="btn btn-warning">Редактирай</a>
                    <form asp-action="Delete" asp-route-id="@item.EventID" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="btn btn-danger">Изтрий</button>
                        </form> *@
                </td>
            </tr>
        }
    </tbody>
</table>
