@model IEnumerable<EventPlanner.Models.Guest>

@{
    ViewData["Title"] = "Гости";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a href="@Url.Action("Create", "Guests")" class="btn btn-primary">Добавяне на гост</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Име на гост</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guest in Model)
        {
            <tr>
                <td>@guest.GuestName</td>
                <td>@guest.Email</td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="@Url.Action("Edit", "Guests", new { id = guest.GuestID })" class="btn btn-warning">Редактирай</a>
                        <a href="@Url.Action("Invitation", "Guests", new { id = guest.GuestID })" class="btn btn-primary">Изпрати покана</a>
                        @if (guest.EventGuests.Any(eg => eg.Status == InvitationStatus.Invited || eg.Status == InvitationStatus.Confirmed))
                        {
                            <a href="@Url.Action("EventInvitations", "Guests", new { id = guest.GuestID })" class="btn btn-success">Потвърди/Откажи</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-success disabled" aria-disabled="true" style="padding: 6px 28px 6px 28px">Няма събития</a>
                        }
                        <form asp-action="Delete" asp-route-id="@guest.GuestID" method="post" style="display:inline-block;">
                            <a href="@Url.Action("Delete", "Guests", new { id = guest.GuestID })" class="btn btn-danger">Изтрий</a>
                        </form>
                    </div>
                </td>
            </tr>
        }
</tbody>
</table>