@model IEnumerable<EventPlanner.Models.Guest>

@{
    ViewData["Title"] = "Гости";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a href="@Url.Action("Create", "Guests")" class="btn btn-primary">Добавяне на гост</a>
</p>
<table class="table">
<thead>
    <tr>
        <th>Име на гост</th>
        <th>Email</th>
        <th>Статус</th>
        <th></th>
    </tr>
</thead>
<tbody>
        @foreach (var guest in Model)
        {
            <tr>
                <td>@guest.GuestName</td>
                <td>@guest.Email</td>
                <td>
                @switch (guest.RSVPStatus)
                {
                    case "Invited":
                        <text>Поканен</text>
                        break;
                        case "Confirmed":
                        <text>Потвърдил</text>
                        break;
                        case "Declined":
                        <text>Отказал</text>
                        break;
                    default:
                            <text>@guest.RSVPStatus</text>
                        break;
                }
                </td>
                <td>
                    
                    <div class="d-flex gap-2">
                        <a href="@Url.Action("Edit", "Guests", new { id = guest.GuestID })" class="btn btn-warning">Редактирай</a>
                        <form href="@Url.Action("Invitation", "Guests", new { id = guest.GuestID })" class="btn btn-primary">
                            Изпрати покана
                        </form>
                        <form asp-action="ConfirmAttendance" method="post" asp-route-id="@guest.GuestID">
                            <button type="submit" class="btn btn-success">Потвърди</button>
                        </form>
                        <form asp-action="Delete" asp-route-id="@guest.GuestID" method="post" style="display:inline-block;">
                            <a href="@Url.Action("Delete", "Guests", new { id = guest.GuestID })" class="btn btn-danger">Изтрий</a>
                        </form>
                    </div>
                </td>
            </tr>
        }
</tbody>

</table>